<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arviiin.dataquality.mapper.DimensionMapper">

    <select id="getExpectedTotalRecordAmount" resultType="java.lang.Integer">
        SELECT max(${dimensionBean.columnname}) - min(${dimensionBean.columnname}) FROM ${dimensionBean.tablename}
    </select>

    <select id="getTotalRecordAmount" resultType="java.lang.Integer">
        select count(*) from ${tablename}
    </select>

    <select id="getDataFileCompletenessResult" resultType="java.lang.Integer">
        select count(*) from ${dimensionBean.tablename}
    </select>

    <select id="getDataValueCompletenessResult" resultType="java.lang.Integer">
        select count(${dimensionBean.columnname}) from ${dimensionBean.tablename}
    </select>

    <select id="getReferentialConsistencyResult" resultType="java.lang.Integer">
        SELECT count(*)  FROM ${referenceTable}
        WHERE ${referenceFiled} not in (SELECT ${beReferenceFiled} FROM ${beReferenceTable})
    </select>



    <select id="getReferentialConsistencyResultWithInput" resultType="java.lang.String">
        SELECT ${dimensionBean.columnname} FROM ${dimensionBean.tablename}
    </select>



    <select id="getFormatConsistencyResult" resultType="java.lang.String">
        SELECT ${dimensionBean.columnname} FROM ${dimensionBean.tablename}
    </select>

    <select id="getDataRecordComplianceResult" resultType="java.lang.String">
        SELECT ${dimensionBean.columnname} FROM ${dimensionBean.tablename}
    </select>

    <select id="getRangeAccuracyResult" resultType="java.lang.Integer">
        select count(*) from ${dimensionBean.tablename} where ${dimensionBean.columnname} BETWEEN ${begin} AND ${end}
    </select>

    <select id="getRecordUniquenessResult" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT ${dimensionBean.columnname}) FROM ${dimensionBean.tablename}
    </select>

    <select id="getTimeBasedTimelinessResult" resultType="java.lang.Integer">
        select count(*) from ${dimensionBean.tablename} where ${dimensionBean.columnname} BETWEEN #{beginTime} AND #{endTime}
    </select>


    <insert id="saveDimensionResultData" useGeneratedKeys="true" keyProperty="dimensionResultBean.id" keyColumn="id">
        INSERT INTO dimension set total_record_amount=#{dimensionResultBean.totalRecordAmount},
                                   expected_total_record_amount=#{dimensionResultBean.expectedTotalRecordAmount},
                                   data_file_completeness=#{dimensionResultBean.dataFileCompleteness},
                                   data_value_completeness=#{dimensionResultBean.dataValueCompleteness},
                                   referential_consistency=#{dimensionResultBean.referentialConsistency},
                                   format_consistency=#{dimensionResultBean.formatConsistency},
                                   data_record_compliance=#{dimensionResultBean.dataRecordCompliance},
                                   range_accuracy=#{dimensionResultBean.rangeAccuracy},
                                   record_uniqueness=#{dimensionResultBean.recordUniqueness},
                                   time_based_timeliness=#{dimensionResultBean.timeBasedTimeliness},
                                   data_non_vulnerability=#{dimensionResultBean.dataNonVulnerability},
                                   createtime=#{dimensionResultBean.createtime}
    </insert>

    <insert id="saveDimensionDetailResultData" useGeneratedKeys="true" keyProperty="dimensionDetailResultBean.id" keyColumn="id">
        INSERT INTO dimension_result set
            expected_total_record_amount=#{dimensionDetailResultBean.expectedTotalRecordAmount},
            data_file_completeness_result=#{dimensionDetailResultBean.dataFileCompletenessResult},
            total_record_amount_of_data_value_completeness=#{dimensionDetailResultBean.totalRecordAmountOfDataValueCompleteness},
            data_value_completeness_result=#{dimensionDetailResultBean.dataValueCompletenessResult},
            total_record_amount_of_referential_consistency=#{dimensionDetailResultBean.totalRecordAmountOfReferentialConsistency},
            referential_consistency_result=#{dimensionDetailResultBean.referentialConsistencyResult},
            total_record_amount_of_format_consistency=#{dimensionDetailResultBean.totalRecordAmountOfFormatConsistency},
            format_consistency_result=#{dimensionDetailResultBean.formatConsistencyResult},
            total_record_amount_of_data_record_compliance=#{dimensionDetailResultBean.totalRecordAmountOfDataRecordCompliance},
            data_record_compliance_result=#{dimensionDetailResultBean.dataRecordComplianceResult},
            total_record_amount_of_range_accuracy=#{dimensionDetailResultBean.totalRecordAmountOfRangeAccuracy},
            range_accuracy_result=#{dimensionDetailResultBean.rangeAccuracyResult},
            total_record_amount_of_record_uniqueness=#{dimensionDetailResultBean.totalRecordAmountOfRecordUniqueness},
            record_uniqueness_result=#{dimensionDetailResultBean.recordUniquenessResult},
            total_record_amount_of_time_based_timeliness=#{dimensionDetailResultBean.totalRecordAmountOfTimeBasedTimeliness},
            time_based_timeliness_result=#{dimensionDetailResultBean.timeBasedTimelinessResult},
            data_non_vulnerability_result=#{dimensionDetailResultBean.dataNonVulnerabilityResult},
            createtime=#{dimensionDetailResultBean.createtime},
            updatetime=#{dimensionDetailResultBean.updatetime}
    </insert>

</mapper>