<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arviiin.dataquality.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.arviiin.dataquality.model.User" >
        <!--<id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="VARCHAR" />
        <result column="ctm" property="ctm" jdbcType="TIMESTAMP"/>-->

        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="company" property="nickname"/>
        <result column="email" property="email"/>
        <result column="telephone" property="telephone"/>
        <result column="enabled" property="enabled"/>
        <result column="createtime" property="createtime"/>
        <result column="updatetime" property="updatetime"/>
        <collection property="roles" ofType="com.arviiin.dataquality.model.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
        </collection>
    </resultMap>

    <!--
        mybatis默认会把mapper.xml映射为dao的实现
        -->

    <select id="getUserList"  resultMap="BaseResultMap"  >
        SELECT * FROM user
    </select>


    <!--<select id="getAll"  resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
    </select>

    <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.kerry.model.User" >
       INSERT INTO
       		user
       		(id,name,age,address)
       	VALUES
       		(#{id},#{name}, #{age}, #{address})
    </insert>

    <update id="update" parameterType="com.kerry.model.User" >
        UPDATE
        user
        SET
        <if test="name != null">name = #{name},</if>
        <if test="age != null">age = #{age},</if>
        address = #{address}
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer" >
       DELETE FROM
       		 user
       WHERE
       		 id =#{id}
    </delete>-->






    <select id="loadUserByUsername" resultType="com.arviiin.dataquality.model.User">
        SELECT * FROM user WHERE username=#{username}
    </select>
    <insert id="reg" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user set username=#{username},password=#{password},
            company=#{company},email=#{email},telephone=#{telephone},enabled=#{enabled}
    </insert>
</mapper>
